/* COLORS
AZUL: #3097BF ou #1755A6
VERDE: #ACD90B ou #37A647
AMARELO: #F2B807 ou #F29F05
VERMELHO: #F2380F ou #F23838
*/

* {
    margin: 0;

    font-family: "Lilita One", sans-serif;

    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;

    padding: 48px 24px;

    color: white;
    background-color: black;
}