* {
    margin: 0;

    font-family: "Lilita One", sans-serif;

    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;

    padding: 48px 24px;

    color: white;
    background-color: black;
}