.cp-main {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.mid-btns {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 20px;
}

.button {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 54px;

    background-color: white;
    color: white;

    border-radius: 50px;

    aspect-ratio: 1/1;
}

.wrong {
    background-color: #d42c15;

}

.right {
    background-color: #7cbc1c;
}

.card {
    display: flex;
    flex-direction: column;

    height: 240px;

    aspect-ratio: 9/12;

    padding: 10px;

    background-color: #1565ac;
    color: white;
    border-radius: 15px;

    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

.card-word {
    font-size: 30px;
}