.cp-main {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.mid-btns {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 20px;
}

.button {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 54px;

  background-color: white;
  color: white;

  border-radius: 50px;

  aspect-ratio: 1/1;
}

.wrong {
  background-color: #d42c15;

}

.right {
  background-color: #7cbc1c;
}

.card {
  display: flex;
  flex-direction: column;

  height: 240px;

  aspect-ratio: 9/12;

  padding: 10px;

    background-color: #222222;
    color: white;
    border-radius: 15px;
    border: 5px solid aqua ;  
    

  justify-content: space-between;
  align-items: center;

  font-size: 18px;
}

.card-word {
  font-size: 30px;
}

.base-timer {
  position: relative;
  height: 60px;
  display: flex;
}

#app {
  margin-right: 3%;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  height: 100%;
  width: 100%;
}