body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
}


.main-rules {
    width: auto; /* Adapta-se ao tamanho da tela */
    max-width: 800px;
    height: auto; /* Preenche toda a altura */
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start
}



.rules {
    width: auto;
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
    height: auto;
    overflow: hidden;
}

.rule-tag {
    display: flex;
    justify-content: center;
    font-size: 5rem !important;
    font-weight: bold;
    margin-bottom: 10px;
}

.rule-content {
    max-width: 300px;
}

.rule-content p {

    font-size: 2rem;
    overflow: hidden;
}


.rule {
    flex: 100%; /* Garante que cada regra ocupe exatamente 100% da largura do contêiner */
    width: 100%; /* Cada regra ocupa 100% da largura do contêiner principal */
    height: 100%; /* Preenche a altura */
    padding: 20px;
    text-align: center;
    overflow: hidden;
    justify-content: center;
    display: flex ;
    flex-direction: column;
    align-items: start;
}
.next-btn {
    right: 10px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.prev-btn {
    left: 10px;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.next-btn:hover, .prev-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .main {
        max-width: 90%; /* Ocupa 90% da tela em tablets */
    }

    .rule-tag {
        font-size: 1.1em;
    }

    .rule-content {
        font-size: 0.95em;
    }

    .next-btn {
        padding: 5px 10px;
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .main {
        max-width: 100%; /* Quase toda a tela em smartphones */
        border-radius: 5px;
    }

    .rule-tag {
        font-size: 1em;
    }

    .rule-content {
        font-size: 0.9em;
    }

    .next-btn {
        bottom: 5px;
        right: 5px;
        padding: 5px 8px;
        font-size: 0.8em;
    }
}