body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}


.main-rules {
    width: 100%; /* Largura dinâmica */
    max-width: 400px; /* Limite máximo */
    overflow: hidden;
    position: relative;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: white;
}



.rules {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;

}

.rule-tag {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.rule-content {
    font-size: 0.9em;
}


.rule {
    flex: 0 0 auto; /* Garante que cada regra ocupe exatamente 100% da largura do contêiner */
    box-sizing: border-box; /* Inclui o padding e border no tamanho */
    width: 100%;
    padding: 20px;
    text-align: center;
}

.next-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 0.9em;
}

.next-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .main {
        max-width: 100%; /* Ocupa 90% da tela em tablets */
    }

    .rule-tag {
        font-size: 1.1em;
    }

    .rule-content {
        font-size: 0.95em;
    }

    .next-btn {
        padding: 5px 10px;
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    .main {
        max-width: 100%; /* Quase toda a tela em smartphones */
        border-radius: 5px;
    }

    .rule-tag {
        font-size: 1em;
    }

    .rule-content {
        font-size: 0.9em;
    }

    .next-btn {
        bottom: 5px;
        right: 5px;
        padding: 5px 8px;
        font-size: 0.8em;
    }
}